# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/todo-app-with-angular/dist
/todo-app-with-angular/tmp
/todo-app-with-angular/out-tsc
# Only exists if Bazel was run
/todo-app-with-angular/bazel-out

# dependencies
/todo-app-with-angular/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db



/todo-app-with-react/node_modules
/todo-app-with-react/dist



.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
