<h1 class="title">TODO APP</h1>
<section class="todos-container">
  <app-add-todo (addTodo)="insertTodo($event)"></app-add-todo>

  <div class="todos" *ngIf="todos[0]; then theretodos else notodos"></div>
  <ng-template #theretodos>
    <div class="todos">
      <app-todo *ngFor="let todo of todos; let i = index" [todo]="todo" [i]="i" (openEditing)="openEditForm(todo, i)" (deleteTheTodo)="deleteTodo(i)"></app-todo>
    </div>
  </ng-template>
  <ng-template #notodos>there are no todos yet</ng-template>

</section>

<app-update-todo *ngIf="isEditFormOpend" (canceleEditing)="closeEditForm()" (updateTodo)="EditTodo($event)" [todo]="currentTodo"></app-update-todo>
